@charset "utf-8";
h1, h2, h3, h4, h5 {
  filter: alpha(opacity=80, enabled=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin: 0px;
  padding: 5px 0px;
}
h1 {
  background-color: #CCFFCC;
  font-size: 200%;
}
h2 {
  background-color: #CCFFFF;
  font-size: 150%;
}
h3 {
  background-color: #FFDDDD;
  font-size: 120%;
}
h4 {
  background-color: #DDDDEE;
  font-size: 100%;
}
h5 {
  background-color: #DDDDDD;
  font-size: 90%;
}
