@charset "utf-8";
.selector select {
  width: 12em;
}
.page-link {
  text-align: right;
}
td.icon-details {
  padding: 4px;
}
td.icon-details .icon_wrapper {
  display: block;
  float: left;
}
td.icon-details ul {
  padding: 0;
  float: left;
  list-style: none;
}
