@charset "utf-8";
@import url(game.css);
@import url(game_aftergame.css);
.beforegame {
  background-color: #FFF5EE;
  color: #000000;
}
.day {
  background-color: #FFFAF0;
  color: #000000;
}
.night {
  background-color: #000030;
  color: #FFFAFA;
}
.aftergame {
  background-color: #F0F8FF;
  color: #000000;
}
.heaven {
  background-color: #CCCCCC;
  color: #000000;
}
