@charset "utf-8";
@import url(../body_bg.css);
@import url(common.css);
body {
  background-image: url("../../img/top_bg.jpg");
}
img {
  margin-bottom: 1em;
}
div {
  margin: 0.5em 0em 1em 1em;
}
div img {
  margin: 0;
}
